<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections/>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <connectionStrings>
    <add name="ApplicationServices"
      connectionString="Data Source=res-winsql.tti.servers;Initial Catalog=TrendsUsers;Persist Security Info=True;User ID=TrendsUserdba;Password=TrendsUserdba123tti"
      providerName="System.Data.SqlClient"/>
    <add name="DataSourceConnectionString"
      connectionString="Data Source=res-winsql.tti.servers;Initial Catalog=Trends;Persist Security Info=True;User ID=Trendsdba;Password=Trendsdba123tti"
      providerName="System.Data.SqlClient"/>
    <add name="Trends2010.Properties.Settings.TrendsConnectionString" connectionString="Data Source=winsqldev.tti.servers;Initial Catalog=Trends;Persist Security Info=True;User ID=Trendsdba;Password=Trendsdba123tti"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="4000"/>
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/" value="54713;True;6056;1;-8587935688169832933"/>
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="200000000"/>
    <customErrors mode="RemoteOnly" defaultRedirect="ErrorPage.htm"/>
    <compilation targetFramework="4.5" batch="true"/>
    <authentication mode="None"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <!--authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider"/>
      </providers>
    </roleManager-->
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <staticContent>
     <mimeMap fileExtension=".json" mimeType="application/json" />
   </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
      </customHeaders>
    </httpProtocol>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.html"/>
      </files>
    </defaultDocument>
    <security>
      <authentication>
        <anonymousAuthentication enabled="true" userName=""/>
      </authentication>
    </security>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings/>
    <client/>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Trends2010.Service1AspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="Trends2010.Service1">
        <endpoint address="" behaviorConfiguration="Trends2010.Service1AspNetAjaxBehavior" binding="webHttpBinding" contract="Trends2010.Service1"/>
      </service>
    </services>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"/>
  </runtime>
  <location path="~/data/TRENDS%202.0%20User's%20Guide.pdf">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
